<html>      
<body>
      <h3>
				<u>New York University</u>
			</h3>

			<h4>
				Master of Science (M.S.), Systems Engineering 2013 &#150; 2015 (expected)
			</h4>

			<p>
				A unique program that provides strong business leadership skills and comprehensive knowledge of information technologies that can enable an organization to improve its financial or marketplace performance. With a focus on the alignment and the integration of management information systems and technology with key business strategies, the program provides a competitive advantage of understanding organizations as complex systems with a shared vision.
			</p>
			<h5>
				Activities and Societies: Management &amp; Systems Student Association (MSSA)
			</h5>

			<h5>
				8 courses
			</h5>	
		<ol>
			<li>Leadership</li>
			<li>Object&#150;Oriented Systems Design</li>
			<li>Information Technology &amp; Data Analytics</li>
			<li>Database Technologies for Web Applications</li>
			<li>Financial Management</li>
			<li>Adv. Database Applications</li>
			<li>Quantitative Models and Decision Making</li>
			<li>Risk Management and Financial Institutions</li>
		</ol>
	</div><br>
	<div class="subcontainer">
			<h3>
				<u>Occidental College</u>
			</h3>
			<h4>
				Bachelor of Arts (B.A.), Philosophy 2008 &#150; 2012
			</h4>
			<h5>
				The Lauter Prize in Philosophy
			</h5>
			<p>
				Won $200 cash prize after placing first in an essay contest held by the Philosophy Department faculty at Occidental College.
			</p>
		</div><br>
			<div class="subcontainer">
			<h3>
				<u>The Blake School</u>
			</h3>
			<h4>
				High School Diploma 2004 &#150; 2008
			</h4>
			</div><br>
	</div>
</div>
	</body>
</html>