$body-bg: white;
$navbar-default-bg: #1abc9c;
$navbar-default-link-color: white;
$brand-primary: #c0392b;
$jumbotron-bg: #ecf0f1;

@import 'bootstrap';

.center { 
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}

.subcontainer {
	background-color: white;
	width: 600px;
	border-radius: 25px;
	padding: 10px;
	margin-right: auto;
  margin-left: 55px;
	margin-top: 5px;
	margin-bottom: 20px;
}