$body-bg: #ecf0f1;
$navbar-default-bg: #1abc9c;
$navbar-default-link-color: white;
$brand-primary: #c0392b;
$jumbotron-bg: white;

@import 'bootstrap';

.center { 
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}