<!doctype html>
<html>
	<head>
		<title>Personal Site Home Page</title>
	</head>
	<body>
		<div id="profilepic">
<!-- 			<img src="assets/images/profile_pic.jpg" style="border-radius:25px"> -->
		</div>
		<article>
			<br>
			<div class="pcontent">
				<h3><u>Background Story</u></h3>
				<p>
					As a child growing up, I've always been intrigued by the concept of invention, design, critical thinking, logic, and engineering. Throughout high school, I would challenge myself by enrolling in difficult classes and by playing students in games like chess or poker. My fascination with solving puzzles, in pursuing innovative fields, and in engaging in outdoor activities, i.e., golf, skiing, and tennis, broadened my perspective on the aesthetic mix of opportunities life has to offer.  
				</p>
				<p>
					When I entered college in Los Angeles, CA, I fully engrossed myself in the academic world of philosophy and social theory, with some exposure to pure mathematics.
				</p>
				<p>
					As a current graduate student with a beginner's knowledge of Java, I've published two mobile apps to Google Play (Persian Cookbook and Tic Tac Toe). With respect to my knowledge, I'm a growing tech enthusiast with experience in requirement gathering and analysis, HTML/CSS, Git version control, command-line interface, Ubuntu Linux, JavaScript, jQuery, SQL Developer, Chrome OS, Ruby on Rails, C#, PHP, PL/SQL, Oracle Application Express and MuleStudio. 
				</p>
				<p>
					My past focus has been as a system analyst specializing in object-oriented design, web and mobile application development, and database implementation. Currently pursuing a masters degree in systems engineering at New York University, I have sworn an ongoing commitment to maintaining cutting edge technical skills and up-to-date industry knowledge.
				</p>
			</div>
		</div>
		</article>
	</body>
</html>